<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>barTabApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30AFD95C1E2EE007008AAA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30AFD9701E2EE007008AAA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30AFD97B1E2EE007008AAA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
